<div class="contenMax">
  <div class="conten">
    <div class="group_login">
      <div class="contenLogo"></div>
      <div class="formLogin">
        <form [formGroup]="loginForm">
          <p class="textInicio">Iniciar sesión</p>
          <p class="textMedium">Iniciar sesión para continuar.</p>

          <p class="textInput">Usuario</p>
          <mat-form-field appearance="outline" class="matforms">
            <span matSuffix>
              <img src="./assets/images/account.svg" class="custom-icon" />
            </span>
            <input
              matInput
              formControlName="username"
              required
              class="inputmat"
            />
            <mat-error *ngIf="loginForm.get('username')?.invalid"
              >username is required</mat-error
            >
          </mat-form-field>

          <p class="textInput">Contraseña</p>
          <mat-form-field appearance="outline" class="matforms">
            <span matSuffix>
              <img src="./assets/images/segure.svg" class="custom-icon" />
            </span>
            <input
              matInput
              formControlName="password"
              required
              class="inputmat"
              type="password"
            />
            <mat-error *ngIf="loginForm.get('password')?.invalid"
              >password is required</mat-error
            >
          </mat-form-field>

          <div class="contenFlex">
            <div class="checkbox">
              <input type="checkbox" />
              <label>Recordar contraseña</label>
            </div>
          </div>

          <button cButton class="button" (click)="sessionLogin()">
            Ingresar
          </button>
          <div class="olvidarConten">
            <a class="buttonOlvidar"> ¿Olvidastet tu contraseña? </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
