

.loginImg {
  width: 50%;
  height: auto;
}

.group_login {
  display: flex;
  flex-direction: row;
  width: 862px;
  height: 596px;
  top: 87px;
  left: 252px;
  border-radius: 45px 0px 0px 45px;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.formLogin {
  margin: auto;
  margin-top: 5%;
}

.conten {
  margin-left: auto;
  margin-right: auto;
}

.contenLogo {
  background-image: url(/assets/images/Frame_Login.webp);
  background-size: cover;
  background-position: center;
  width: 450px;
  height: 568px;
  border-radius: 45px 0px 0px 45px;
  margin: 1.5%;
  margin-right: 0px;
}

.contenMax {
  width: 100%;
  height: 100vh !important;
  display: flex;
  background-image: url(/assets/images/Frame_fondo_login.webp);
  background-size: cover;
  align-items: center;
  background-position: center;
}

.textInicio {
  margin-top: 30px;
  margin-bottom: 0px;
  color: #000000;
  font-size: 34px;
  font-family: "Inria Sans";
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  width: 245px;
  height: 38px;
}

.my-form-field .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}

.textMedium {
  color: #000000;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  font-family: Inria Sans;
  margin-left: 2px;
  margin-top: 2px;
  margin-bottom: 15%;
}

.textInput {
  margin-bottom: 2px;
  color: #000000;
  font-size: 21px;
  font-style: normal;
  line-height: normal;
  font-family: Inria Sans;
  font-weight: 500;
  /* Valor de font-weight para un texto delgado */
  font-stretch: condensed;
  /* Valor de font-stretch para un texto condensado (delgado) */
}
.matforms {
  width: 100%;
}

.inputmat {
  padding: 2px;
}

::ng-deep .mat-mdc-text-field-wrapper {
  height: 30px !important;
  border-radius: 10px !important;
  border-color: white !important;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix{
  padding: 2px !important;
}

.inputLogin {
  width: 270px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f8f8f8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 1%;
  border: none;
  padding: 0px;
}

.button {
  border: none;
  width: 269px;
  height: 31px;
  flex-shrink: 0;
  border-radius: 15px;
  background: linear-gradient(180deg, #0ddcf9 15.63%, #0c4cc8 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #ffffff;

  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-family: "Nunito";

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Viable Logic", sans-serif;
  margin-top: 57px;
}

.contenFlex {
  display: flex;
  width: 270px;
  align-items: center;
  justify-content: space-between;

  .checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .checkbox input {
    margin-top: 7px;
  }

  .checkbox label {
    display: inline-block;
    margin-top: 10px;
    margin-left: 2px;
    color: #000000;
    font-size: 10px;
  }
}

.buttonOlvidar {
  color: #0cbdc8;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.inputUsuario .mat-form-field-outline {
  border: none; /* Quita los bordes */
}

.inputUsuario .mat-form-field-flex {
  padding: 0; /* Ajusta el relleno interno */
}

.inputUsuario .mat-input-element {
  border-radius: 10px; /* Agrega el radio a los bordes */
  border: 1px solid rgba(0, 0, 0, 0.12); /* Puedes agregar un borde opcional si lo deseas */
}

.input-container {
  position: relative;
  margin-bottom: 30px;
}
.olvidarConten {
  margin-top: 14px;
  text-align: center;
}

.input-container c-input-group {
  display: flex;
  align-items: center;
}

.input-container input {
  width: 100%;
  padding-right: 30px; /* Espacio para el icono */
  border-radius: 10px !important; /* Ajusta el valor según tu diseño */
  border: none;
}

.custom-icon{
  margin-bottom: 90%;
  margin-right: 10px;
}


.input-container .custom-icon {
  pointer-events: none;
}
.mat-form-field-appearance-outline{
  border:none;
}

@media screen and (max-width: 860px) {
  .contenLogo {
    width: 426px;
    height: 237px;
    background-image: url(/assets/images/Frame_Login.webp);
    background-size: cover;
    background-position: center;

    border-radius: 45px;
    margin: auto;
  }
  .group_login {
    width: 450px;
    height: 750px;
    margin: auto;
    border-radius: 40px;
    flex-direction: column;
  }

  .conten {
    width: 100%;
    height: 80%;
    padding: 1%;
    border-radius: 45px;
  }
}
