#dinamic-table{
  min-width: 1071px;
  height: auto;
  justify-content: center;
  align-items: center;
  padding:0;
  box-sizing: border-box;
  border-radius: 15px;
  overflow: hidden;
  background-color: whitesmoke;
}


table tr:first-child th /*To remove the last border*/
{
  border-bottom:0 solid;
}

.mat-elevation-z8 {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Estilos para las filas seleccionadas */
.mat-row.mat-row-selected {
  background-color: lightblue; /* Cambia el color de fondo de las filas seleccionadas */
}

:host{
  --mdc-checkbox-selected-focus-icon-color: #0C4CC8;
  --mdc-checkbox-selected-hover-icon-color: #3776F2;
  --mdc-checkbox-selected-icon-color: #0C4CC8;
  --mdc-checkbox-selected-pressed-icon-color: #0C4CC8;
  --mdc-checkbox-selected-focus-state-layer-color: #0C4CC8;
  --mdc-checkbox-selected-hover-state-layer-color: #0C4CC8;
  --mdc-checkbox-selected-pressed-state-layer-color: #0C4CC8;
}
.row-checked{
  background: whitesmoke;
}
.style-paginator{
  width: 100%;
  ::ng-deep.mat-mdc-paginator-container{
    justify-content: space-around;
  }
}

.option_Accion {
  padding-left: 30px;
}
.container_pointer {
  width: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.point {
  width: 6px;
  height: 6px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #0C4CC8;
  animation: none;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.container_pointer:hover .point:nth-child(1) {
  animation: bounce 1s infinite;
}

.container_pointer:hover .point:nth-child(2) {
  animation: bounce 1s infinite 0.2s;
}

.container_pointer:hover .point:nth-child(3) {
  animation: bounce 1s infinite 0.4s;
}

.style_matmenu { 
  span{
    font-size: 12px;
    color: #0C4CC8;
  }
}
::ng-deep .mat-mdc-menu-item {
  min-height: 30px !important;
}

.none-data {
  padding: 100px;
  text-align: center;
  font-weight: 500;
}