<div id="dinamic-table">
  <div class="content-table">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z0"
      multiTemplateDataRows
    >
      <!-- Checkbox Column -->
      <ng-container *ngIf="isCheckBox" matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? toggleAllRows() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container
        [matColumnDef]="item.displayname"
        *ngFor="let item of displayedColumns"
      >
        <th mat-header-cell *matHeaderCellDef>
          {{ item.displayname | uppercase }}
        </th>
        <ng-container
          *ngIf="item.displayname === 'acción'; else none_accion"
        >
          <td mat-cell *matCellDef="let element" class="option_Accion">
            <div class="container_pointer" [matMenuTriggerFor]="menuAction">
              <div class="point"></div>
              <div class="point"></div>
              <div class="point"></div>
            </div>
            <mat-menu #menuAction="matMenu">
              <button
                *ngFor="let m of item.menu"
                mat-menu-item
                class="style_matmenu"
                (click)="dataAction(m, element)"
              >
                <span>{{ m.text }}</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>
        <ng-template #none_accion>
          <td mat-cell *matCellDef="let element">
            {{ element[item.name] }}
          </td>
        </ng-template>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: columnsToDisplay"
        [ngClass]="{ 'row-checked': isCheckBox && selection.isSelected(row) }"
      ></tr>
    </table>
    <div *ngIf="dataSource.data.length === 0" class="none-data">
      {{ noneData }}
    </div>
  </div>

  <mat-paginator
    class="style-paginator"
    (page)="handlePageEvent($event)"
    [length]="length"
    [pageSize]="pageSize"
    [disabled]="disabled"
    [showFirstLastButtons]="showFirstLastButtons"
    [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
    [hidePageSize]="hidePageSize"
    [pageIndex]="pageIndex"
  >
  </mat-paginator>
</div>
