#content-register {
    width: 100%;
    height: 100vh !important;
    display: flex;
    background-image: url(/assets/images/Frame_fondo_login.webp);
    background-size: cover;
    align-items: center;
    justify-content: center;
    background-position: center;

    .logoInternoMini{
        display: none;
    }

    .error-message {
        color: red; /* Cambiar el color de fuente a rojo */
        font-family: Arial, sans-serif; /* Cambiar el tipo de letra */
        font-size: 10px; /* Tamaño de fuente */
        font-weight: italic; /* Peso de fuente en negrita */
        margin-top: 5px; /* Espacio superior para separar el mensaje del campo de entrada */
      }
  
      /* Estilos para el borde rojo del input cuando hay errores */
      .is-invalid {
        border-color: red !important;
      }

    .group_register {
        overflow: hidden;
        display: flex;
        width: 70%;
        height: 75%;
        justify-content: flex-start;
        border-radius: 45px 0px 0px 45px;
        background-color: white;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        position: relative;
        overflow: auto;
    }

    .inputRegister {
        max-width: 250px;
        height: 30px;
        flex-shrink: 0;
        border-radius: 10px;
        background: #F8F8F8;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        margin-bottom: 1%;
        border: none;
    }

    .logoInterno {
        height: 13vw;
        z-index: 1;
        position: absolute;
        top: 72%;
        left: 15.5%;
        transform: translateY(-50%);
        margin-left: 1.7%;
        /* Un valor mayor al z-index del contenido para que la imagen se superponga */
    }

    .contenLogo {
        border-radius: 12% 0px 0px 12%;
        margin: 20px;
        width: 30%;
        background-image: url(/assets/images/imageRegistro.png);
        background-size: contain;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .tittleRegister {
        margin-top: 30px;
        color: #000000;
        font-size: 34px;
        font-weight: bold;
        font-style: normal;
        line-height: normal;
        width: 245px;
        height: 38px;
    }

    .contentInput {

        padding: 30px;
        display: flex;
        flex-direction: column;
    }

    .content-formulario {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
    }

    .textInput {
        margin-bottom: 2px;
        color: #000000;
        font-size: 21px;
        font-style: normal;
        line-height: normal;
        font-weight: 500;
        /* Valor de font-weight para un texto delgado */
        font-stretch: condensed;
        /* Valor de font-stretch para un texto condensado (delgado) */

    }

    .buttonSend {
        border: none;
        height: 31px;
        flex-shrink: 0;
        border-radius: 15px;
        background: linear-gradient(180deg, #0DDCF9 15.63%, #0C4CC8 100%);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: #ffffff;
        max-width: 250px;
        font-size: 20px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;

        display: flex;
        justify-content: center;
        align-items: center;

        font-family: 'Viable Logic', sans-serif;
        margin-top: 57px;
    }

 

    @media screen and (max-width: 768px) {
        .content-formulario {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: 30%;
        }

        .contentInput {
        
            overflow: auto;
        }

        
    .inputRegister {
        max-width: none;     
    }
}

    @media screen and (max-width: 990px) {
        .logoInterno {            
            display: none;
        }
        .contenLogo {
            display: none;
        }

        .logoInternoMini{
            display: block; 
            width: 100%;      
           }
    }
    .group_register {
        overflow: hidden;
        display: flex;
        justify-content: center;
        justify-content: flex-start;
        border-radius: 45px 45px 45px 45px;
        background-color: white;
        overflow: auto;        
    }

}