
.body_page {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inria Sans;
}

.content_page{
    width: 1000px;
    height: 596px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 4px 4px 4px 4px #00000040;
    background-image: url("../../../../../assets/images/image_page.png");
    background-position:bottom left;
    background-size:600px;
    background-repeat: no-repeat;
}

.header_page {
    margin: 10px;
    width: 90%;
    background-image: url("../../../../../assets/images/Frame_fondo_login.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    h1 {
        color: white;
        margin-top: 5px;
        font-weight: bolder;
    }
}

.product_target {
    width: 80%;
    margin: 30px 0 100px 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    .target {
        width: 182px;
        height: 303px;
        border-radius: 30px;
        border: 5px solid #EBEBEB;
        background: #FFF;
        backdrop-filter: blur(3.5px);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .title_target {
            width: 100%;
            text-align: center;
            font-weight:bold;
            font-size: 16px;
        }
        .price_plan{
            width: 157px;
            height: 66px;
            font-size: 35px;
            font-weight: 700;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .red {
            border-radius: 0px 45px 45px 0px;
            background: linear-gradient(223deg, #C80C0C 0%, #F23759 50%, #F90DA9 100%);
        }
        .yellow{

            border-radius: 0px 45px 45px 0px;
            background: linear-gradient(223deg, #E3E70E 0%, #FFE926 51.86%, #F9B70D 87.78%);
        }
        .blue{
            border-radius: 0px 45px 45px 0px;
            background: linear-gradient(223deg, #0C4CC8 0%, #3776F2 51.86%, #0DDCF9 87.78%);
        }
        .green{
            border-radius: 0px 45px 45px 0px;
            background: linear-gradient(223deg, #10C80C 0%, #73F237 51.86%, #D8F90D 87.78%);
        }
        .description_target {
            font-size: 13px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
                width: 148px;
            }
        }
        .selection_plan {
            width: 172px;
            height: 28px;
            flex-shrink: 0;
            color: #FFF;
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            border-radius: 45px 0px 0px 45px;
            margin-bottom: 10px;
        }
    }

}
.target:hover {
    transform: scale(1.05);
    box-shadow: -2px -2px 15px;
    transform-origin: center center;
}
.selection_plan:hover {
    cursor: pointer;
}


.footer_page {
    color: #B4B4B4;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media (max-width: 920px) {
    .content_page{
        width: 100%;
        height: 1000px;
        border-radius: 0;
    }
}
